{% extends 'base.html' %}
{% block header %}

  <h1>{% block title %}Home page{% endblock %}</h1>

  {% endblock %}
{% block content %}
{% if current_user.is_authenticated %}

<h4>Welcome back, {{ current_user.name }}</h4>

 {% else %}
 {% endif %}

 <h1>Posts</h1>

{% for user in users_login %}
{% for note in user.notes %}

<div class="card">
  <div class="card-body">
      <span class="badge badge-primary">#{{ note.id }}</span>
      <span class="badge badge-default">{{ note.date }}</span>
      <span class="badge badge-default">Written by 
        <a href="/user/{{ user.login }}">{{ user.login }}</a></span>
      <span class="badge badge-default">Tags: {% for tag in note.tags %}
        <a href="/tags/{{ tag.tag_name }}">{{ tag.tag_name }}</a>{% endfor %}</span>
      <hr>
      <p>
        <h4><a href="/home/{{ note.title }}"><b>{{ note.title }}</b></a>
        {% with text = note.data %}
        {% if text |length > 100 %}
        <h5>{{ text[0:100] }}...<a href="/home/{{ note.title }}">Read full text</a></h5>
        {% endif %}
        {% endwith %}
      </p>
      
  </div>
</div>
<hr>



{% endfor %} {% endfor %} <br>
{% if current_user.is_authenticated %}


{% else %}
{% endif %} 
{% endblock %}