{% extends 'base.html' %}
{% block content %}

<h2>{{ article.title }}</h2> <br>

<!-- {% if current_user.is_authenticated %} -->
{% if current_user.login == article.user_login %}

<form method="POST">
    <button type="submit" formaction='/delete_note/{{ article.id }}' class="btn btn-primary">Delete post</button> 
    <button type="submit" formaction='/update_note/{{ article.id }}' class="btn btn-primary">Edit post</button> 
</form> <br>

{% else %} 
{% endif %} 
<!-- {% else %}
{% endif %} -->

<h4>{{ article.data }}</h4>


{% for each_image in image %}
    <img src="image/{{each_image.name}}" class="rounded float-start">
    <!-- {{ each_image.name }} -->
{% endfor %}


<!-- <img src="image/{{image.name}}"></img> -->


{% endblock %}